body {
    text-align: center;
    background-color: rgba(0, 122, 192, 0.274);
}
h1 {
    color: dodgerblue;
    font-size: 50px;
    margin: 50px 0px 0px 0px;
}
footer > h2 {
    color: dodgerblue;
    margin-top: 40px;
}
footer > h2 > a {
    color: indianred;
    text-decoration: none;
}
footer > h2 > a:hover {
    text-decoration: underline;
}
.container {
    margin-inline: auto;
    margin-top: 30px;
    width: 550px;
    height: 550px;
    display: grid;
    border: 20px solid dodgerblue;
    border-radius: 25px;
}
.js-div {
    background-color: rgb(253, 240, 240);
    border: 0.25px solid rgba(192, 189, 189, 0.397);
    filter: brightness(1);
    display: inline-grid;
}
#grid-reset {
    margin-top: 30px;
    text-align: left;
    background-color: snow;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    border-color: indianred;
}
#grid-reset:hover {
    color: indianred;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal-content {
    background-color: dodgerblue;
    margin: 15% auto;
    padding: 5px 10px 15px 10px;
    border: 5px solid black;
    width: 40%;
    border-radius: 15px;
}
#input-box {
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 2px;
}
#input-box:focus {
    outline: none;
    border: 1px solid gold;
}
#input-submit-btn {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    background-color: white;
    cursor: pointer;
}
#input-submit-btn:hover {
    color: red;
    border: 1px solid red;
}
#invalid {
    margin-top: 15px;
    color: red;
}
.close  {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.blur {
    opacity: 0.25;
}