body {
    text-align: center;
    background-color: rgba(0, 122, 192, 0.274);
}
h1 {
    color: dodgerblue;
    font-size: 50px;
    margin: 50px 0px 0px 0px;
}
.container {
    margin-inline: auto;
    margin-top: 30px;
    width: 550px;
    height: 550px;
    display: grid;
    border: 20px solid dodgerblue;
    border-radius: 25px;
}
.js-div {
    background: rgb(253, 240, 240);
    border: 0.25px solid rgba(192, 189, 189, 0.397);
    display: inline-grid;
}
#grid-reset {
    margin-top: 30px;
    text-align: left;
    background-color: snow;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    border-color: red;
}
#grid-reset:hover {
    color: red;
    background-color: rgba(0, 122, 192, 0.274);
}